.friendList {
  list-style: none;
}

.item {
  margin: 20px auto;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.avatar {
  width: 75px;
  height: 75px;
}

.name {
  font-size: 28px;
  font-weight:600;
}

.online {
  color: green;
  font-size: 60px;
}

.offline {
  color: red;
  font-size: 60px;
}
